@import '../variables/vars';

#contact {
    background-color: var(--section-contact-background);
    position: fixed;
    top: calc(100% - 2.5rem);
    left: 0;
    right: 0;
    z-index: 4;
    border-top: 2px solid var(--text-light-theme);
    transition: transform 0.5s ease-in-out, margin-top 0.5s ease-in-out, $color-trans;
    height: calc(100% - 7.5rem);

    &.translate-up {
        transform: translateY(calc(-100% + 3rem));
        margin-top: -0.5rem;
    }

    .contact-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .contact-heading{
            font-size: clamp(1.625rem, 4vw, 2.125rem);
            font-style: italic;
            margin: 0 auto;
            padding: 1rem 3rem 1rem 2.5rem;
            text-align: center;
            width: 20rem;
            text-align: left;
            font-weight: 300;
            font-family: $font_fam_heading;
        }
        .contact-links {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: flex-start;
            gap: 1rem;
            margin: 0 0 0 1rem;
            height: 100%;
            text-transform: lowercase;
            
            
    
            li {
                width: 20rem;
                align-self: start; 
                margin: 0 auto;
                
                a {
                    text-decoration: none;
                    color: var(--text-light-theme);
                    font-size: clamp(1.625rem, 4vw, 2.125rem);
                    position: relative;
                    display: inline-block;
                    padding-left: 2rem; 
                    transition: padding-left 0.6s; 
                    font-weight: 400;
                }
            }
        }
        
    }
    
    
}

@media (min-width:31rem){
    #contact{
        .contact-links li .email::before {
            content: '→'; 
            position: absolute;
            left: -7rem; 
            opacity: 0; 
            transition: opacity 0.6s, left 0.6s;
        }
        
        .contact-links li .email:hover,
        .contact-links li .email:focus {
            padding-left: 3rem; 
            color: var(--accent-color);
        }
        
        .contact-links li .linkedin::before {
            content: "→"; 
            position: absolute;
            left: -7rem; 
            opacity: 0; 
            transition: opacity 0.6s, left 0.6s; 
        }
        
        .contact-links li .linkedin:hover,
        .contact-links li .linkedin:focus {
            padding-left: 3rem; 
            color: var(--accent-color);

        }
        
        .contact-links li .github::before {
            content: "→"; 
            position: absolute;
            left: -7rem;
            opacity: 0; 
            transition: opacity 0.6s, left 0.6s; 
        }
        
        .contact-links li .github:hover,
        .contact-links li .github:focus {
            padding-left: 3rem; 
            color: var(--accent-color);

        }
        
        .contact-links li .email:hover::before,
        .contact-links li .email:focus::before,
        .contact-links li .linkedin:hover::before,
        .contact-links li .linkedin:focus::before,
        .contact-links li .github:hover::before,
        .contact-links li .github:focus::before {
            opacity: 1; 
            left: 0; 
        }
    }
}

@media (min-width: 48rem) {
    #contact{
        width: calc(100vw - 4rem);
        top: calc(100vh - 4rem);
        height:calc(100vh - 4rem);
        z-index: 2;

        .contact-links{
            margin: 0 0 4rem 4rem;
            padding-bottom: 4rem;
        }

        &.translate-up{
            transform: translateY(calc(-100vh + 8rem));
            margin-top: unset;
        }

        .site-navigation{
            height: 4rem;
            padding: 0.75rem;
            #contact-btn{
                .section-title{
                    position: absolute;
                    text-align: left;
                    top: 0.625rem;
                }
            }
        }
    }
}