@import '../variables/vars';

#contact {
    background-color: var(--section-contact-background);
    position: fixed;
    top: calc(100% - 2.5rem);
    left: 0;
    right: 0;
    z-index: 4;
    border-top: 2px solid var(--text-light-theme);
    transition: transform 0.5s ease-in-out, margin-top 0.5s ease-in-out, $color-trans;
    height: calc(100% - 7.5rem);

    &.translate-up {
        transform: translateY(calc(-100% + 3rem));
        margin-top: -0.5rem;
    }

    .contact-links {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0 0 1rem;
        height: 100%;
        padding-bottom: 10rem;
        

        li {
            width: 20rem;
            align-self: start; 
            margin: 0 auto;
            
            a {
                text-decoration: none;
                color: var(--text-light-theme);
                font-size: clamp(1.375rem, 5vh, 2rem);
                position: relative;
                display: inline-block;
                padding-left: 2rem; 
                transition: padding-left 0.6s; 
            }
        }
    }
    
    
}

@media (min-width:31rem){
    #contact{
        .contact-links li .email::before {
            content: 'Send me an '; 
            position: absolute;
            left: -7rem; 
            opacity: 0; 
            transition: opacity 0.6s, left 0.6s;
        }
        
        .contact-links li .email:hover,
        .contact-links li .email:focus {
            padding-left: 11rem; 
            color: var(--accent-color);
        }
        
        .contact-links li .linkedin::before {
            content: "Let's link up on "; 
            position: absolute;
            left: -7rem; 
            opacity: 0; 
            transition: opacity 0.6s, left 0.6s; 
        }
        
        .contact-links li .linkedin:hover,
        .contact-links li .linkedin:focus {
            padding-left: 13.5rem; 
            color: var(--accent-color);

        }
        
        .contact-links li .github::before {
            content: "Check out my "; 
            position: absolute;
            left: -7rem;
            opacity: 0; 
            transition: opacity 0.6s, left 0.6s; 
        }
        
        .contact-links li .github:hover,
        .contact-links li .github:focus {
            padding-left: 13rem; 
            color: var(--accent-color);

        }
        
        .contact-links li .email:hover::before,
        .contact-links li .email:focus::before,
        .contact-links li .linkedin:hover::before,
        .contact-links li .linkedin:focus::before,
        .contact-links li .github:hover::before,
        .contact-links li .github:focus::before {
            opacity: 1; 
            left: 0; 
        }
    }
}

@media (min-width: 48rem) {
    #contact{
        width: calc(100vw - 4rem);
        top: calc(100vh - 4rem);
        height:calc(100vh - 4rem);
        z-index: 2;

        .contact-links{
            margin: 0 0 4rem 4rem;
            padding-bottom: 4rem;
        }

        &.translate-up{
            transform: translateY(calc(-100vh + 8rem));
            margin-top: unset;
        }

        .site-navigation{
            height: 4rem;
            padding: 0.75rem;
            #contact-btn{
                .section-title{
                    position: absolute;
                    text-align: left;
                    top: 0.625rem;
                }
            }
        }
    }
}