@import '../variables/vars';

#home {
    background-color: var(--background);
    height: calc(100vh - 5rem);
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 1;
    transition: $color-trans;

    #theme-toggle-btn{
        position: absolute;
        left: 0.5rem;
        top: -2.25rem;
        background-color: transparent;
        border:none;
        height: 2.25rem;
        width: 2.25rem;
        svg{
            fill: var(--text-light-theme);
            path{
                stroke: var(--text-light-theme);
            }
        }
    }

    .entry-content {
        margin: 0 2rem;

        .intro-text {
            font-family: $font_fam_heading;
            font-size: 2rem;
            font-weight: 300;
        }
    }
}

nav {
    font-family: $font_fam_subheading;
}

@media (min-width: 48rem) {
    #home{
        width: calc(100vw - 8rem);
        height: calc(100vh - 8rem);
        margin: 4rem;
        z-index: 1;

        #theme-toggle-btn{
            top: 1rem;
            left: unset;
            right: 1rem;
            height: 2.5rem;
            width: 2.5rem;
        }
    }
}