@import '../variables/vars';

#home {
    background-color: var(--background);
    height: calc(100% - 5rem);
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 1;
    transition: $color-trans;

    #theme-toggle-btn {
        position: absolute;
        left: 0.5rem;
        top: -2.375rem;
        background-color: transparent;
        border: none;

        svg {
            fill: var(--text-light-theme);
            height: 2rem;
            width: 2rem;

            path {
                stroke: var(--text-light-theme);
            }
        }
    }

    .entry-content {
        margin: 0 2rem;

        .intro-text {
            font-family: $font_fam_heading;
            font-size: 2rem;
            font-weight: 300;
            margin-top: 35vh;
            text-align: right;
            margin-bottom: 1.25rem;
        }

        .about-text{
            text-align: right;
            font-size: 1.25rem;
            font-family: $font_fam_heading;
            font-weight: 300;
        }

        .home-links {
            display: flex;
            flex-direction: column;
            align-items: end;

            button {
                position: relative; /* For the underline positioning */
                background-color: transparent;
                border: none;
                text-align: right;
                transition: color 0.3s ease;
                color: var(--text-light-theme);
                font-size: 1.375rem;
                width: max-content;
                text-transform: lowercase;
                font-weight: 400;
                padding-bottom: 0.5rem; /* Add padding to ensure space for underline */

                &::before {
                    content: "\2192 ";
                    font-family: $font_fam_subheading;
                    font-size: 1.25rem;
                    margin-right: 0.25rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0; /* Align the underline exactly at the bottom */
                    width: 100%;
                    height: 2px;
                    background-color: var(--accent-color);
                    transform: scaleX(0);
                    transform-origin: bottom left;
                    transition: transform 0.5s ease;
                }

                &:hover::after,
                &:focus::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }

                &:hover,
                &:active,
                &:focus {
                    color: var(--accent-color);
                }
            }
        }
    }
}

nav {
    font-family: $font_fam_subheading;
}

@media (min-width: 48rem) {
    #home {
        width: calc(100vw - 8rem);
        height: calc(100vh - 8rem);
        margin: 4rem;
        z-index: 1;

        #theme-toggle-btn {
            top: 1rem;
            left: unset;
            right: 1rem;

            svg {
                height: 2.25rem;
                width: 2.25rem;
            }
        }

        .entry-content {
            .intro-text {
                margin-top: unset;
                text-align: center;
            }
            .about-text{
                text-align: center;
            }

            .home-links {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}