@import '../variables/vars';

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background-color: var(--background);
    opacity: 1;
    transition: opacity 1s ease-in-out;
    margin: auto;
}
  
.svg-draw {
    height: 40vw;  /* Responsive based on viewport width */
    width: 40vw;
    max-height: 17rem;
    max-width: 17rem;
}
  
.svg-draw .st0 {
    stroke: var(--accent-color);
    stroke-width: 0.5rem;
    fill: none; 
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw-path 3s ease-out forwards;
}

.loading-container.fade-out {
    opacity: 0;
    pointer-events: none;
}
  
@keyframes draw-path {
    from {
        stroke-dashoffset: 2500; 
    }
    to {
        stroke-dashoffset: 60;
    }
}


.content {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.content.fade-in {
    opacity: 1;
}