@import '../variables/vars';

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
    opacity: 1;
    transition: opacity 5s ease-in-out;
}
  
.svg-draw {
    height: 35vh;
    width: auto;
}
  
.svg-draw .st0 {
    stroke: var(--accent-color);
    stroke-width: 0.5rem;
    fill: none; 
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw-path 1.75s linear forwards;
}

.loading-container.fade-out {
    opacity: 0;
    pointer-events: none;
  }
  
@keyframes draw-path {
    from {
        stroke-dashoffset: 2000; 
    }
    to {
        stroke-dashoffset: 0;
    }
}